
<mat-toolbar color="primary" class="fixed-footer mat-elevation-z10">
        <mat-toolbar-row class="desc">
           <img class="logo" src="../assets/images/footer.svg">
      <span class="footer-title">
          &nbsp; &nbsp; &nbsp; &nbsp; Commodity Dapp
      </span>
      <span class="fill-space"></span>
      <div>
        <span class="footer-desp">
        Powered by Blockchain
        </span>
      </div>
      <span class="fill-space"></span>
      <div>
        &nbsp;
        <a href="#" target="_blank" >
          <img class="social-logo" src="../assets/images/fb.svg">
      </a>
      &nbsp;
      <a href="#" target="_blank" >
        <img class="social-logo" src="../assets/images/linkedin.svg">
      </a>
      &nbsp;
      <a href="#" target="_blank" >
        <img class="social-logo" src="../assets/images/github.svg">
      </a>
      &nbsp;
      <a href="#" target="_blank" >
        <img class="social-logo" src="../assets/images/skype.svg">
      </a>
      </div>
        </mat-toolbar-row>
      </mat-toolbar>
      