<h1 mat-dialog-title>Details for Tender: {{data.contractAddress}}</h1>
<table style="width: 100%;">
    <tr>
        <td>
            <mat-label><b>Commodity:</b></mat-label>
        </td>
        <td>
            <mat-form-field>
                <input matInput [readonly]="true" [(ngModel)]="data.commodityName" value="data.commoditName">
            </mat-form-field>
        </td>
    </tr>

    <tr>
        <td>
            <mat-label><b>Price:</b></mat-label>
        </td>
        <td>
            <mat-form-field>
                <input matInput [readonly]="true" [(ngModel)]="data.price" value="data.price">
            </mat-form-field>
        </td>

    <tr>
        <td>
            <mat-label><b>Quantity:</b></mat-label>
        </td>
        <td>
            <mat-form-field>
                <input matInput [readonly]="true" [(ngModel)]="data.weight" value="data.weight">
            </mat-form-field>
        </td>
    </tr>

    <tr>
        <td>
            <mat-label><b>Buyer:</b></mat-label>
        </td>
        <td>
            <mat-form-field>
                <input matInput [readonly]="true" [(ngModel)]="data.buyerId" value="data.buyerId">
            </mat-form-field>
        </td>
    </tr>
    <tr>
            <td>
                <mat-label><b>Seller:</b></mat-label>
            </td>
            <td>
                <mat-form-field>
                    <input matInput [(ngModel)]="data.sellerId" value="data.sellerId">
                </mat-form-field>
            </td>
        </tr>

    <tr>
            <td>
                <mat-label><b>Grade:</b></mat-label>
            </td>
            <td>
                <mat-form-field>
                    <input matInput [(ngModel)]="data.grade" value="data.grade">
                </mat-form-field>
            </td>
        </tr>
    <tr>
            <td>
                <mat-label><b>Delivery Date:</b></mat-label>
            </td>
            <td>
                <mat-form-field>
                    <input matInput [(ngModel)]="data.intendedDeliveryDate" value="data.intendedDeliveryDate">
                </mat-form-field>
            </td>
        </tr>

        <tr>
            <td>
                <mat-label><b>Comments:</b></mat-label>
            </td>
            <td>
                <mat-form-field>
                    <input matInput [(ngModel)]="data.comments" value="data.comments">
                </mat-form-field>
            </td>
        </tr>
<!-- <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  
</mat-form-field> -->
<tr *ngIf="checked">
        <td>
            <mat-label><b>Bank Account Address:</b></mat-label>
        </td>
        <td>
            <mat-form-field>
                <input matInput [(ngModel)]="data.bankAddress" value="data.bankAddress">
            </mat-form-field>
        </td>
    </tr>  
    <tr>
    

        <td *ngIf="!isBankAdded" width="100%" colspan="2">
            <div *ngIf="isButtonVisible">
             <button  mat-raised-button style="margin:auto; display:block; background: white; color: green;" (click)="generateSaleContract();">Generate Sales Contract</button>
            </div>
            <div *ngIf="!isButtonVisible" >
                  <mat-spinner
                  ></mat-spinner>
               
         </div>
        </td>
         <td *ngIf="isBank"> <button mat-raised-button style="background:greenyellow; color: #3f51b5;" (click)="check();">Add Bank details</button></td>
        <td *ngIf="checked"> <button mat-raised-button style="background:greenyellow; color: #3f51b5;" (click)="setBank();">Add</button>
            <div *ngIf="!checked" >
                    <mat-spinner
                    ></mat-spinner>
                 
           </div></td>
         
      
    </tr>

   

</table>